# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
jd_match/
venv/
.env/

# SQLite DB
*.db
*.sqlite3

# ML / HuggingFace cache
.cache/
huggingface/
transformers/
*.pt
*.bin
*.onnx

# OS files
.DS_Store
Thumbs.db
``